{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class="container">
      <h2> Productos </h2>
      <div class="row">
      {{ range . }}
        <div class="col col-12 col-md-3">
          {{ template "Product" . }}
        </div>
      {{ end }}
      </div>
    </div>
  {{ template "Footer" }}
{{ end }}